.tabla-citas {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.tabla-citas thead {
  background-color: #2c3e50;
  color: white;
}

.tabla-citas th, .tabla-citas td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabla-citas tbody tr:hover {
  background-color: #f4f4f4;
}

.estado {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: bold;
}

.estado.pendiente {
  background-color: #f1c40f;
  color: #2c3e50;
}

.estado.completado {
  background-color: #2ecc71;
  color: white;
}

.estado.cancelado {
  background-color: #e74c3c;
  color: white;
}

.contenedortabla {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  margin-top: 30px; /* espacio superior opcional */
}

h1 {
    color: rgb(63, 63, 63);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label {
    font-weight: 600;
    margin-bottom: 0.4rem;
    color: #333;
  }

  select {
    padding: 0.5rem 0.8rem;
    border-radius: 6px;
    border: 1.5px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    outline: none;
  }

  select:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  }

  select:disabled {
    background-color: #f5f5f5;
    color: #999;
    cursor: not-allowed;
  }
  .form-container1{
  max-width: 90%;
  margin: 40px auto;
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  
  }
  .form-container1 input {
    display: flex;
    border-radius: 5px;
    padding: 0.5rem 0.8rem; 
    max-width: 300px;
    
  }


